.cards__like {
  height: 18.13px;
  width: 21px;
  background-image: url('../../../images/button_like.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 15px 0 0;
  border: none;
}

.cards__like:hover {
  cursor: pointer;
}
