.popup__submit {
  background-color: black;
  width: 83%;
  color: white;
  border: none;
  margin: 18px auto;
  height: 50.15px;
  border-radius: 2px;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
