.popup__close {
  position: fixed;
  background-image: url('../../../images/button_close.svg');
  top: -38px;
  right: -38px;
  height: 40.7px;
  width: 40.7px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: black;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width: 490px) {
  .popup__close {
  right: 0;
  top:-42px;  }
}
