.card__rectangle {
  border-radius: 0 0 10px 10px;
  background-color: white;
  height: 78px;
  width: 282px;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
